<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.8.0" targetFramework="net471" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.25.3" targetFramework="net471" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net471" />
  <package id="LightGBM" version="4.3.0" targetFramework="net471" />
  <package id="Markov" version="2.0.0" targetFramework="net471" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.149" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net471" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.9.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.9.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.9.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.9.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net471" />
  <package id="Microsoft.ML" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.CpuMath" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.DataView" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.DnnImageFeaturizer.AlexNet" version="0.21.1" targetFramework="net471" />
  <package id="Microsoft.ML.DnnImageFeaturizer.ResNet101" version="0.21.1" targetFramework="net471" />
  <package id="Microsoft.ML.DnnImageFeaturizer.ResNet18" version="0.21.1" targetFramework="net471" />
  <package id="Microsoft.ML.DnnImageFeaturizer.ResNet50" version="0.21.1" targetFramework="net471" />
  <package id="Microsoft.ML.FastTree" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.ImageAnalytics" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.LightGbm" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.Mkl.Components" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.Mkl.Redist" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.OneDal" version="0.21.1" targetFramework="net471" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.17.1" targetFramework="net471" />
  <package id="Microsoft.ML.OnnxTransformer" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.Recommender" version="0.21.1" targetFramework="net471" />
  <package id="Microsoft.ML.TensorFlow" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.TimeSeries" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.ML.Tokenizers" version="0.21.1" targetFramework="net471" />
  <package id="Microsoft.ML.TorchSharp" version="0.21.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net471" />
  <package id="NumSharp.Lite" version="0.1.12" targetFramework="net471" />
  <package id="OneOf" version="3.0.263" targetFramework="net471" />
  <package id="PercolatorMatching" version="1.1" targetFramework="net471" />
  <package id="PlanningAI" version="0.14.0" targetFramework="net471" />
  <package id="Protobuf.Text" version="0.7.2" targetFramework="net471" />
  <package id="Razorvine.Pickle" version="1.5.0" targetFramework="net471" />
  <package id="Serilog" version="3.1.1" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="5.0.1" targetFramework="net471" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net471" />
  <package id="SkiaSharp" version="2.88.7" targetFramework="net471" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.7" targetFramework="net471" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.7" targetFramework="net471" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.7" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net471" />
  <package id="System.Composition" version="8.0.0" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="8.0.0" targetFramework="net471" />
  <package id="System.Composition.Convention" version="8.0.0" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="8.0.0" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="8.0.0" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="8.0.0" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net471" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net471" />
  <package id="System.IO.Pipelines" version="8.0.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Tensors" version="8.0.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net471" />
  <package id="System.Text.Json" version="8.0.2" targetFramework="net471" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="TensorFlow.NET" version="0.150.0" targetFramework="net471" />
  <package id="TorchSharp" version="0.102.1" targetFramework="net471" />
</packages>